# build system

autom4te.cache/
build-aux/
m4/

*.tar.gz

Makefile
Makefile.in
aclocal.m4
config.log
config.status
configure

# test suite

*.log
*.trs

# coverage

kcov/

kcov-wrapper.sh

# bin

vclpp
